<%= form_with model: @plan, url: calendars_path, class: 'Form' do |f| %>
  <%= f.label :日付を選択, class: 'Lavel' %>
  <%= f.date_field :date, class: 'Date-select' %>
  <%= f.label :予定を入力, class: 'Lavel' %>
  <%= f.text_field :plan, class: 'Text-input' %>
  <%= f.submit '保存' %>
<% end %>

  <div class=Calendar>
    <% @week_days.each do |day| %>
      <div class='Item'>
        <div class='Date'>
          <% day[:month] %>/<% day[:date] %>
        </div>
        <ul class='Content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='Plan-list'>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>